<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Displaying alert.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6D78D7B61C1F340A00B0C2AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D78D7CA1C1F340A00B0C2AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D78D7D51C1F340A00B0C2AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
