<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Adding buttons.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6D79B0261C19EB990046D961</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D79B03A1C19EB990046D961</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D79B0451C19EB990046D961</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
